html, body, div, span, object, iframe,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main, summary,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
form, fieldset, legend, input, label, button, textarea, select, textarea, input,
table, caption, tbody, tfoot, thead, tr, th, td,
b, i, dl, dt, dd, ol, ul, li,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
time, mark, audio, video, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
  -webkit-overflow-scrollng: touch;
  overflow-x: hidden;
}

html, body {
  width: 100%;
}

body {
  background: #fff;
  color: #616161;
  word-break: keep-all;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Roboto", serif;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, summary {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

cite, em, dfn, address {
  font-style: normal;
}

fieldset, iframe {
  border: 0 none;
}

fieldset {
  min-width: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #282828;
}

ol, ul, li {
  list-style: none;
}

img, fieldset, iframe {
  border: 0 none;
}

img, video, audio, object, embed, iframe {
  max-width: 100%;
  height: auto;
}

legend:not([class]), caption {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 1px;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
}

i, em, address {
  font-style: normal;
}

input, select, textarea {
  border: none;
  color: #616161;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label, button {
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 0;
  background: none;
  border: 0 none;
}

select::-ms-expand {
  display: none;
}

textarea {
  border: 1px solid #dadada;
  resize: vertical;
}

input[type=text]::-ms-clear {
  display: none;
}

input[type=radio], input[type=checkbox], input[type=tel], input[type=number] {
  border: 0 none;
  vertical-align: middle;
}

input[type=number] {
  -moz-appearace: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

table {
  width: 100%;
  empty-cells: show;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

table th {
  font-weight: normal;
}

a, a:visited {
  color: inherit;
}

a:link, a:hover {
  text-decoration: none;
}

*:focus {
  outline: 0;
  outline: none;
  border-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  background-color: transparent;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.hide {
  overflow: hidden !important;
  position: absolute !important;
  left: -1px !important;
  top: -1px !important;
  width: 1px !important;
  height: 1px !important;
  opacity: 0 !important;
}

.none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

[role=button] {
  cursor: pointer;
}

.web [data-device=m] {
  display: none;
}

.mb [data-device=p] {
  display: none;
}

[data-display=MO] {
  display: none;
}

@media all and (max-width: 1024px) {
  [data-display=MO] {
    display: block;
  }
  [data-display=PC] {
    display: none;
  }
}
@media all and (max-width: 600px) {
  html {
    font-size: 56.25%;
  }
}
@media all and (max-width: 359px) {
  html {
    font-size: 50%;
  }
}/*# sourceMappingURL=common.css.map */